@model Web.AL.Models.AdminTeasersViewModel
@{
    ViewBag.Title = "AdminTeaserUpdate";
}

<h2>Änderung einer Rubrik aufgrund ID</h2><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.IdTeaser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IdTeaser, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdTeaser, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" ¨>
                <input type="submit" value="finden" class="btn btn-default" />
            </div>
        </div>

    </div>
    @Html.ActionLink("Zurück zur Administration", "Option", "AdminOption")

}